<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome Car-Rent Site!</h1>

	<a href="/user/adduser">Add Customer</a> |
	<a href="/user/userlist">View Customer List</a> |
	<a href="/user/Catagorylist">View Catagory List</a> |
	<a href="/user/carlist">View Car List</a> |
	<a href="/logout">logout</a>

</body>
</html>